// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../../node_modules/ionic2-auto-complete/auto-complete";

.menu-info {
  margin: 5px 15px;
  font-size: 11px;
}

.table-header {
  border-bottom: 1px solid #888;
  font-weight: bold;
}

.item-list {
  padding: 0;
  margin-top: 0;
  ion-col {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    align-items: center;
  }
  .list-md {
    margin: 0 !important;
  }
}

.list-group {
  .item-inner {
    padding: 0 !important;
  }
  .label {
    margin: 0;
  }
  .item-group-header {
    padding: 5px 0;
  }
  background: #fafafa;
}

.list-item {
  .item-inner {
    padding: 5px 0 !important;
  }
  .label {
    padding-right: 0;
    margin: 0;
  }
  border-bottom: 1px solid #f4f4f4;
}

.column-right {
  justify-content: flex-end;
}

.qty-padding {
  padding: 0 6px;
}

.qty-btn-space {
  padding: 0 9px;
}

.no-margin {
  margin: 0;
}

.no-padding {
  margin: 0;
}