<!--
  Generated template for the PickShipmentsPickPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Enter Transfers</ion-title>

    </ion-navbar>

</ion-header>


<ion-content padding style="position: relative;">
    <div>
        <h5>Scan Bin</h5>
    </div>

    <ion-grid no-padding>
        <ion-row>
            <ion-col>
                <ion-item no-padding>
                    <ion-label color="primary">From Bin:</ion-label>
                    <ion-input id="location" #location type="text" [(ngModel)]="enteredData.location"
                               (keyup.enter)="setLocation(); $event.stopPropagation();" (keypress)="$event.stopPropagation();"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item no-padding>
                    <ion-label color="primary">To Bin:</ion-label>
                    <ion-input id="to-location" #tolocation type="text" [(ngModel)]="enteredData.toLocation"
                               (keyup.enter)="setToLocation(); $event.stopPropagation();" (keypress)="$event.stopPropagation();"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="showItem">
            <ion-col>
                <ion-item no-padding>
                    <ion-label color="primary">Item:</ion-label>
                    <ion-input id="item" #item type="text" [(ngModel)]="enteredData.item"
                               (keyup.enter)="setItem(); $event.stopPropagation();" (keypress)="$event.stopPropagation();"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="showQty">
            <ion-col>
                <ion-item no-padding>
                    <ion-label color="primary">Quantity:</ion-label>
                    <ion-input id="qty" #qty type="number" min="0" [(ngModel)]="enteredData.qty"
                               (keyup.enter)="addTransferItem(); $event.stopPropagation();" (keypress)="$event.stopPropagation();"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="showQty">
            <ion-col col-6>
                <ion-row *ngIf="showQty && currentLocationItems.hasOwnProperty(enteredData.item);">
                    <ion-col>Available Qty:</ion-col>
                    <ion-col>{{currentLocationItems[this.enteredData.item].QtyAvailable.value}}</ion-col>
                </ion-row>
                <ion-row *ngIf="showQty && currentLocationItems.hasOwnProperty(enteredData.item);">
                    <ion-col>On-Hand Qty</ion-col>
                    <ion-col>{{currentLocationItems[this.enteredData.item].QtyOnHand.value}}</ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-6 text-right>
                <button type="button" ion-button small (click)="addTransferItem();">OK</button>
                <button type="button" ion-button small (click)="resetForm();">Cancel</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer no-shadow>
    <ion-toolbar position="bottom">
        <ion-row>
            <ion-col>
                <button type="button" ion-button (click)="nextFromBin()">Next</button>
            </ion-col>
            <ion-col text-right>
                <button type="button" ion-button (click)="commitTransfers()">Commit Transfers</button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>



